.App {
  text-align: center;
}

.linhaHorizontal {
  pointer-events: none;
  position: absolute;
  object-fit: fill;
}

.linhaVertical {
  pointer-events: none;
  transform: rotate(90deg);
  position: absolute;
  transform: translateX(190);
  object-fit: fill;
  object-position: bottom;
}


.App-header {
  background-color: #B7C4CF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.items{
  position: absolute;
  /* props: pinos; */
  cursor: move;
  color: white;
  max-width: 700px;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
}
